body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.section {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input, form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color: #178582;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #12655e;
}

.form-message.success {
    color: green;
    font-weight: bold;
}

.form-message.error {
    color: red;
    font-weight: bold;
}
